.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 3rem;
}
.container > * {
  min-width: 25rem;
  max-width: 40rem;
}

img {
  border-radius: 2rem;
  flex: 1 0;
  object-fit: cover;
  height: 30rem;
  margin: 1rem;
}
.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  border-radius: 3rem;
  padding: 2rem;
  color: black;
  margin-left: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
  }
  .name {
    font-size: 2rem;
    font-weight: bold;
  }
  .origins {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
  .origins > span {
    padding: .5rem;
    font-size: 1rem;
    margin: .5rem .5rem .5rem 0;
    background-color: darkgray;
    color: black;
    border: 2px solid red;
    border-radius: 1rem;
  }
  .cook-time {
    margin: 1rem;
  }
  .cook-time span {
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
  }
  .price::before {
    content: 'Price: ';
    color: darkgray;
  }
  .price {
    font-size: 1.8rem;
    margin: 1rem 1rem 1rem 0;
    color: green;
  }
  button {
    color: white;
    background-color: #e72929;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 5px 2.5px 5px 0px black;
    outline: none;
  }
  button:hover {
    opacity: .9;
    cursor: pointer;
    transform: scale(0.99);
  }
}
